<div class="template-user">
    
    <div class="template-user-header">
        <div class="template-user-header-logo"><img src="/assets/images/ferpi-logo.png" alt=""></div>
        <div class="template-user-header-content">Organik o‘g‘it va po‘choqlardan gaz olish</div>
    </div>
    <div class="template-user-wrap">
        <div class="template-user-wrap-col">
            <div class="template-user-wrap-item border-1">
                <div class="template-user-wrap-item-header bg-color-1">Maqsad</div>
                <div class="template-user-wrap-item-body">
                    <ul class="item-parts goal">
                        <li>Organik o‘g‘it va meva-sabzavotlarni po‘chog‘idan tabiy gaz olish</li>
                        <li>Har bir aholini gaz bilan taminlash oladigan qurilma yasash</li>
                        <li>Atrof muhitni obodligini taminlash</li>
                    </ul>
                </div>
            </div>
            <div class="template-user-wrap-item border-1">
                <div class="template-user-wrap-item-header bg-color-1">Loyiha pasporti</div>
                <div class="template-user-wrap-item-body">
                    <div class="proj_pass">
                        <div class="proj_pass-title">Loyiha tashabbuskori:</div>
                        <div class="proj_pass-icon"><fa-icon [icon]="f_A.faUser"></fa-icon></div>
                        <div class="proj_pass-content">"Kimyo texnologiya" fakulteti 72-21 elita guruh talabasi Jo‘rayev Javohir</div>
                    </div>
                    <div class="proj_pass">
                        <div class="proj_pass-title">Loyiha qiymati (mln so‘m):</div>
                        <div class="proj_pass-icon"><fa-icon [icon]="f_A.faMoneyBill"></fa-icon></div>
                        <div class="proj_pass-content">300 mln so‘m</div>
                    </div>
                    <div class="proj_pass">
                        <div class="proj_pass-title">Tashkil etilayotgan Ish o‘rni:</div>
                        <div class="proj_pass-icon"><fa-icon [icon]="f_A.faPeopleGroup"></fa-icon></div>
                        <div class="proj_pass-content">7 nafar</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="template-user-wrap-col">
            <div class="template-user-wrap-item border-2">
                <div class="template-user-wrap-item-header bg-color-2">Vazifalari</div>
                <div class="template-user-wrap-item-body">
                    <ul class="item-parts tasks">
                        <li>Organik o‘g‘it va meva-sabzavotlarni po‘chog‘idan tabiy gaz olish</li>
                        <li>Har bir aholini gaz bilan taminlash oladigan qurilma yasash</li>
                        <li>Atrof muhitni obodligini taminlash</li>
                    </ul>
                </div>
            </div>
            <div>
                <ngx-masonry-gallery [width]='250' [images]='images'></ngx-masonry-gallery>
            </div>
        </div>
        <div class="template-user-wrap-col">
            <div class="template-user-wrap-item border-3">
                <div class="template-user-wrap-item-header bg-color-3">Biriktirilgan kafedralar</div>
                <div class="template-user-wrap-item-body">
                    <div class="empty-item">Yo‘q</div>
                </div>
            </div>
            <div class="template-user-wrap-item border-3">
                <div class="template-user-wrap-item-header bg-color-3">Kutiladigan natija</div>
                <div class="template-user-wrap-item-body">
                    <ul class="item-parts con_dep">
                        <li>Organik o‘g‘it va meva-sabzavotlarni po‘chog‘idan tabiy gaz olish</li>
                        <li>Har bir aholini gaz bilan taminlash oladigan qurilma yasash</li>
                        <li>Atrof muhitni obodligini taminlash</li>
                    </ul>
                </div>
            </div>
            <div class="template-user-wrap-item border-4">
                <div class="template-user-wrap-item-header bg-color-4 fs16 text_center">Biriktirilgan spin-off(Unitar Korxona)lar</div>
                <div class="template-user-wrap-item-body wrap-item-body-4">
                    <div class="empty-item">Yo‘q</div>
                    <!-- <ul class="item-parts con_dep">
                        <li>Organik o‘g‘it va meva-sabzavotlarni po‘chog‘idan tabiy gaz olish</li>
                        <li>Har bir aholini gaz bilan taminlash oladigan qurilma yasash</li>
                        <li>Atrof muhitni obodligini taminlash</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>