<tui-root *ngIf="!onlyView">
    <div class="template-user">
        
        <div class="template-user-header">
            <div>
                <a
                    tuiButton
                    appearance="backButton"
                    [routerLink]="['/welcome']"
                >
                    <tui-svg
                        src="tuiIconArrowLeftLarge"
                        class="icon"
                    ></tui-svg>
                </a>
            </div>
            <div class="template-user-header-logo">
                <img src="/assets/images/ferpi-logo.png" alt="">
            </div>
            <div class="template-user-header-content">
                <div>{{dataService.plan.title}}</div>
                <div style="margin-left: 5px;">
                    <button
                        tuiIconButton
                        size="xs"
                        type="button"
                        appearance="primary"
                        class="tui-space_right-3 tui-space_bottom-3 m0"
                        icon="tuiIconEdit"
                        (click)="showDialog('title')"
                        [showLoader]="false"
                    ></button>
                </div> 
            </div>
        </div>
        <div class="template-user-wrap">
            <div class="template-user-wrap-col">
                <div class="template-user-wrap-item border-1">
                    <div class="template-user-wrap-item-header bg-color-1">Maqsad</div>
                    <div class="template-user-wrap-item-body">
                        <ul class="item-parts goal">
                            <li *ngFor="let item of dataService.plan.goal; let idx = index;">
                                {{item}}
                                <button
                                    tuiIconButton
                                    size="xs"
                                    type="button"
                                    appearance="primary"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    icon="tuiIconTrash"
                                    (click)="removeItem('goal', idx)"
                                    [showLoader]="false"
                                ></button>
                            </li>
                        </ul>
                        <div *ngIf="!dataService.plan.goal.length" class="empty-item bg-trp-1">Yo‘q</div>
                        <div style="position:absolute; bottom: 0; right: 0;">
                            <button
                                tuiIconButton
                                size="s"
                                type="button"
                                appearance="primary"
                                class="tui-space_right-3 tui-space_bottom-3"
                                icon="tuiIconPlus"
                                (click)="showDialog('goal')"
                                [showLoader]="false"
                            ></button>
                        </div>
                    </div>
                </div>
                <div class="template-user-wrap-item border-1">
                    <div class="template-user-wrap-item-header bg-color-1">Loyiha pasporti</div>
                    <div class="template-user-wrap-item-body">
                        <div class="proj_pass">
                            <div class="proj_pass-title">Loyiha tashabbuskori:</div>
                            <div class="proj_pass-icon"><fa-icon [icon]="f_A.faUser"></fa-icon></div>
                            <div class="proj_pass-content">
                                <div>{{dataService.plan.owner}}</div>
                                <div style="margin-left: 5px;">
                                    <button
                                        tuiIconButton
                                        size="xs"
                                        type="button"
                                        appearance="primary"
                                        class="tui-space_right-3 tui-space_bottom-3 m0"
                                        icon="tuiIconEdit"
                                        (click)="showDialog('owner')"
                                        [showLoader]="false"
                                    ></button>
                                </div> 
                            </div>
                        </div>
                        <div class="proj_pass">
                            <div class="proj_pass-title">Loyiha qiymati (mln so‘m):</div>
                            <div class="proj_pass-icon"><fa-icon [icon]="f_A.faMoneyBill"></fa-icon></div>
                            <div class="proj_pass-content">
                                <div>{{dataService.plan.cost}}</div>
                                <div style="margin-left: 5px;">
                                    <button
                                        tuiIconButton
                                        size="xs"
                                        type="button"
                                        appearance="primary"
                                        class="tui-space_right-3 tui-space_bottom-3 m0"
                                        icon="tuiIconEdit"
                                        (click)="showDialog('cost')"
                                        [showLoader]="false"
                                    ></button>
                                </div> 
                            </div>
                        </div>
                        <div class="proj_pass">
                            <div class="proj_pass-title">Tashkil etilayotgan ish o‘rni:</div>
                            <div class="proj_pass-icon"><fa-icon [icon]="f_A.faPeopleGroup"></fa-icon></div>
                            <div class="proj_pass-content">
                                <div>{{dataService.plan.workplace}}</div>
                                <div style="margin-left: 5px;">
                                    <button
                                        tuiIconButton
                                        size="xs"
                                        type="button"
                                        appearance="primary"
                                        class="tui-space_right-3 tui-space_bottom-3 m0"
                                        icon="tuiIconEdit"
                                        (click)="showDialog('workplace')"
                                        [showLoader]="false"
                                    ></button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb10">
                    <div>
                        <div *ngFor="let picture of images.firstCol; let  idx = index;" class="posrel">
                            <div><img style="width:100%;" [src]="picture"></div>
                            <div>
                                <button
                                    tuiIconButton
                                    size="xs"
                                    type="button"
                                    appearance="primary"
                                    class="tui-space_right-3 tui-space_bottom-3 m0 pat5r5"
                                    icon="tuiIconCloseLarge"
                                    [showLoader]="false"
                                    (click)="removeItem('firstCol', idx)"
                                ></button>
                            </div>
                        </div> 
                    </div>
                    <!-- <ngx-masonry [options]="masonryOptionsImages">
                        <div ngxMasonryItem class="masonry-item"  *ngFor="let picture of masonryImages">
                            <img style="width:100%;" [src]="picture">
                        </div>
                    </ngx-masonry> -->
                    <tui-input-files
                        accept="image/*"
                        [multiple]="true"
                        [formControl]="firstCollImages"
                        (ngModelChange)="firstCollImages.markAsTouched()"
                    ></tui-input-files>
                    
                    <tui-error
                        [formControl]="firstCollImages"
                        [error]="['maxLength'] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="template-user-wrap-col">
                <div class="template-user-wrap-item border-2">
                    <div class="template-user-wrap-item-header bg-color-2">Vazifalari</div>
                    <div class="template-user-wrap-item-body">
                        <ul class="item-parts tasks">
                            <li *ngFor="let item of dataService.plan.tasks; let idx = index;">
                                {{item}}
                                <button
                                    tuiIconButton
                                    size="xs"
                                    type="button"
                                    appearance="primary"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    icon="tuiIconTrash"
                                    (click)="removeItem('tasks', idx)"
                                    [showLoader]="false"
                                ></button>
                            </li>
                        </ul>
                        <div *ngIf="!dataService.plan.tasks.length" class="empty-item bg-trp-2">Yo‘q</div>
                        <div style="position:absolute; bottom: 0; right: 0;">
                            <button
                                tuiIconButton
                                size="s"
                                type="button"
                                appearance="primary"
                                class="tui-space_right-3 tui-space_bottom-3"
                                icon="tuiIconPlus"
                                (click)="showDialog('tasks')"
                                [showLoader]="false"
                            ></button>
                        </div>
                    </div>
                </div>
                <div class="mb10">
                    <div>
                        <div *ngFor="let picture of images.middleCol; let  idx = index;" class="posrel">
                            <div><img style="width:100%;" [src]="picture"></div>
                            <div>
                                <button
                                    tuiIconButton
                                    size="xs"
                                    type="button"
                                    appearance="primary"
                                    class="tui-space_right-3 tui-space_bottom-3 m0 pat5r5"
                                    icon="tuiIconCloseLarge"
                                    [showLoader]="false"
                                    (click)="removeItem('middleCol', idx)"
                                ></button>
                            </div>
                        </div> 
                    </div>
                    <!-- <ngx-masonry [options]="masonryOptionsImages">
                        <div ngxMasonryItem class="masonry-item"  *ngFor="let picture of masonryImages">
                            <img style="width:100%;" [src]="picture">
                        </div>
                    </ngx-masonry> -->
                    <tui-input-files
                        accept="image/*"
                        [multiple]="true"
                        [formControl]="middleCollImages"
                        (ngModelChange)="middleCollImages.markAsTouched()"
                    ></tui-input-files>
                    
                    <tui-error
                        [formControl]="middleCollImages"
                        [error]="['maxLength'] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </div>
            <div class="template-user-wrap-col">
                <div class="template-user-wrap-item border-3">
                    <div class="template-user-wrap-item-header bg-color-3">Biriktirilgan kafedralar</div>
                    <div class="template-user-wrap-item-body">
                        <ul class="item-parts con_dep">
                            <li *ngFor="let item of dataService.plan.kafed; let idx = index;">
                                {{item}}
                                <button
                                    tuiIconButton
                                    size="xs"
                                    type="button"
                                    appearance="primary"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    icon="tuiIconTrash"
                                    (click)="removeItem('kafed', idx)"
                                    [showLoader]="false"
                                ></button>
                            </li>
                        </ul>
                        <div *ngIf="!dataService.plan.kafed.length" class="empty-item bg-trp-3">Yo‘q</div>
                        <div style="position:absolute; bottom: 0; right: 0;">
                            <button
                                tuiIconButton
                                size="s"
                                type="button"
                                appearance="primary"
                                class="tui-space_right-3 tui-space_bottom-3"
                                icon="tuiIconPlus"
                                (click)="showDialog('kafed')"
                                [showLoader]="false"
                            ></button>
                        </div>
                    </div>
                </div>
                <div class="template-user-wrap-item border-3">
                    <div class="template-user-wrap-item-header bg-color-3">Kutiladigan natija</div>
                    <div class="template-user-wrap-item-body">
                        <ul class="item-parts con_dep">
                            <li *ngFor="let item of dataService.plan.conDep; let idx = index;">
                                {{item}}
                                <button
                                    tuiIconButton
                                    size="xs"
                                    type="button"
                                    appearance="primary"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    icon="tuiIconTrash"
                                    (click)="removeItem('conDep', idx)"
                                    [showLoader]="false"
                                ></button>
                            </li>
                        </ul>
                        <div *ngIf="!dataService.plan.conDep.length" class="empty-item bg-trp-3">Yo‘q</div>
                        <div style="position:absolute; bottom: 0; right: 0;">
                            <button
                                tuiIconButton
                                size="s"
                                type="button"
                                appearance="primary"
                                class="tui-space_right-3 tui-space_bottom-3"
                                icon="tuiIconPlus"
                                (click)="showDialog('conDep')"
                                [showLoader]="false"
                            ></button>
                        </div>
                    </div>
                </div>
                <div class="template-user-wrap-item border-4">
                    <div class="template-user-wrap-item-header bg-color-4 fs16 text_center">Biriktirilgan spin-off(Unitar Korxona)lar</div>
                    <div class="template-user-wrap-item-body wrap-item-body-4">
                        <ul class="item-parts spin_of">
                            <li *ngFor="let item of dataService.plan.spinOf; let idx = index;">
                                {{item}}
                                <button
                                    tuiIconButton
                                    size="xs"
                                    type="button"
                                    appearance="primary"
                                    class="tui-space_right-3 tui-space_bottom-3"
                                    icon="tuiIconTrash"
                                    (click)="removeItem('spinOf', idx)"
                                    [showLoader]="false"
                                ></button>
                            </li>
                        </ul>
                        <div *ngIf="!dataService.plan.spinOf.length" class="empty-item bg-trp-4">Yo‘q</div>
                        <div style="position:absolute; bottom: 0; right: 0;">
                            <button
                                tuiIconButton
                                size="s"
                                type="button"
                                appearance="primary"
                                class="tui-space_right-3 tui-space_bottom-3"
                                icon="tuiIconPlus"
                                (click)="showDialog('spinOf')"
                                [showLoader]="false"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;">
            <button
                tuiButton
                type="button"
                appearance="primary"
                class="tui-space_right-3 tui-space_bottom-3"
                (click)="postProject(template)"
            >
                Jo‘natish
            </button>
        </div>
    </div>
    <ng-template
        #template
        let-observer
    >
        <h1>Loyihangiz mufavattiyatli jo‘natildi!</h1>
        <h3>Loyiha e‘lon qilingan raqam: <span style="font-size: 20px; font-weight: 900;">{{announcedNumber}}</span></h3>
        <button
            tuiButton
            type="button"
            size="m"
            (click)="completeTemplete(observer)"
        >
            OK
        </button>
    </ng-template>
</tui-root>

<div *ngIf="planOwner">
    <tui-notification
        status="success"
        class="tui-space_top-4"
        *ngIf="dataService.plan.review.status === 'accepted'"
    >
        Uraaa TABRIKLAYMIZ, loyihangiz qabul qilindi!!!(Rektorga uchrashingizni so‘raymiz!)
    </tui-notification>
    <tui-notification
        status="error"
        class="tui-space_top-4"
        *ngIf="dataService.plan.review.status === 'rejected'"
    >
        Afsuski loyihangiz qabul qilinmadi. <span *ngIf="dataService.plan.review.comments">sababi: {{dataService.plan.review.comments}}</span> 
    </tui-notification>
    <tui-notification
        status="warning"
        class="tui-space_top-4"
        *ngIf="dataService.plan.review.status === 'checking'"
    >
        Loyiha tekshirishda, iltimos kutib turing!
    </tui-notification>
</div>    
<div class="template-user" *ngIf="onlyView">     
    <div class="template-user-header">
        <div class="template-user-header-logo only-view">
            <img src="/assets/images/ferpi-logo.png" alt="">
        </div>
        <div class="template-user-header-content">
            <div>{{dataService.plan.title}}</div>
        </div>
    </div>
    <div class="template-user-wrap">
        <div class="template-user-wrap-col">
            <div class="template-user-wrap-item border-1">
                <div class="template-user-wrap-item-header bg-color-1">Maqsad</div>
                <div class="template-user-wrap-item-body">
                    <ul class="item-parts goal">
                        <li *ngFor="let item of dataService.plan.goal; let idx = index;">
                            {{item}}
                        </li>
                    </ul>
                    <div *ngIf="!dataService.plan.goal || !dataService.plan.goal.length" class="empty-item bg-trp-1">Yo‘q</div>
                </div>
            </div>
            <div class="template-user-wrap-item border-1">
                <div class="template-user-wrap-item-header bg-color-1">Loyiha pasporti</div>
                <div class="template-user-wrap-item-body">
                    <div class="proj_pass">
                        <div class="proj_pass-title">Loyiha tashabbuskori:</div>
                        <div class="proj_pass-icon"><fa-icon [icon]="f_A.faUser"></fa-icon></div>
                        <div class="proj_pass-content">
                            <div>{{dataService.plan.owner}}</div>
                            <div style="margin-left: 5px;">
                            </div> 
                        </div>
                    </div>
                    <div class="proj_pass">
                        <div class="proj_pass-title">Loyiha qiymati (mln so‘m):</div>
                        <div class="proj_pass-icon"><fa-icon [icon]="f_A.faMoneyBill"></fa-icon></div>
                        <div class="proj_pass-content">
                            <div>{{dataService.plan.cost}}</div>
                            <div style="margin-left: 5px;">
                            </div> 
                        </div>
                    </div>
                    <div class="proj_pass">
                        <div class="proj_pass-title">Tashkil etilayotgan ish o‘rni:</div>
                        <div class="proj_pass-icon"><fa-icon [icon]="f_A.faPeopleGroup"></fa-icon></div>
                        <div class="proj_pass-content">
                            <div>{{dataService.plan.workplace}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb10">
                <div>
                    <div *ngFor="let picture of dataService.plan.firstCollImages; let  idx = index;" class="posrel">
                        <div><img style="width:100%;" [src]="'http://localhost:5000/' + picture"></div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="template-user-wrap-col">
            <div class="template-user-wrap-item border-2">
                <div class="template-user-wrap-item-header bg-color-2">Vazifalari</div>
                <div class="template-user-wrap-item-body">
                    <ul class="item-parts tasks">
                        <li *ngFor="let item of dataService.plan.tasks; let idx = index;">
                            {{item}}
                        </li>
                    </ul>
                    <div *ngIf="!dataService.plan.tasks || !dataService.plan.tasks.length" class="empty-item bg-trp-2">Yo‘q</div>
                </div>
            </div>
            <div class="mb10">
                <div>
                    <div *ngFor="let picture of dataService.plan.middleCollImages; let  idx = index;" class="posrel">
                        <div><img style="width:100%;" [src]="'http://localhost:5000/' + picture"></div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="template-user-wrap-col">
            <div class="template-user-wrap-item border-3">
                <div class="template-user-wrap-item-header bg-color-3">Biriktirilgan kafedralar</div>
                <div class="template-user-wrap-item-body">
                    <ul class="item-parts con_dep">
                        <li *ngFor="let item of dataService.plan.kafed; let idx = index;">
                            {{item}}
                        </li>
                    </ul>
                    <div *ngIf="!dataService.plan.kafed || !dataService.plan.kafed.length" class="empty-item bg-trp-3">Yo‘q</div>
                </div>
            </div>
            <div class="template-user-wrap-item border-3">
                <div class="template-user-wrap-item-header bg-color-3">Kutiladigan natija</div>
                <div class="template-user-wrap-item-body">
                    <ul class="item-parts con_dep">
                        <li *ngFor="let item of dataService.plan.conDep; let idx = index;">
                            {{item}}
                        </li>
                    </ul>
                    <div *ngIf="!dataService.plan.conDep || !dataService.plan.conDep.length" class="empty-item bg-trp-3">Yo‘q</div>
                    <div style="position:absolute; bottom: 0; right: 0;">
                    </div>
                </div>
            </div>
            <div class="template-user-wrap-item border-4">
                <div class="template-user-wrap-item-header bg-color-4 fs16 text_center">Biriktirilgan spin-off(Unitar Korxona)lar</div>
                <div class="template-user-wrap-item-body wrap-item-body-4">
                    <ul class="item-parts spin_of">
                        <li *ngFor="let item of dataService.plan.spinOf; let idx = index;">
                            {{item}}
                        </li>
                    </ul>
                    <div *ngIf="!dataService.plan.spinOf || !dataService.plan.spinOf.length" class="empty-item bg-trp-4">Yo‘q</div>
                </div>
            </div>
        </div>
    </div>
</div>