<tui-root>
<tui-carousel
    [duration]="4000"
    [(index)]="index"
>
    <ng-container *ngFor="let item of items; let idx=index;">
        <tui-island *tuiItem>
            <div style="display: flex; justify-content: center;">
                <img class="slider-img" [src]="item">
            </div>
            <div class="slider-wrap">
                <div class="slider-content">
                    <h1 class="tui-island__title">Loyihangizni tekshirish uchun jo‘nating</h1>
                    <a
                        tuiButton
                        appearance="firstButton"
                        [routerLink]="['/template']"
                    >
                        Loyiha jo‘natish
                    </a>
                    <a
                        tuiButton
                        class="margin-left-10"
                        appearance="firstButton"
                        (click)="showDialog(FullPlan)"
                    >
                        Loyiha holatini tekshirish
                    </a>
                </div>
            </div>
        </tui-island>
    </ng-container>
</tui-carousel>
<tui-pagination
    size="s"
    class="pagination"
    [length]="items.length"
    [(index)]="index"
></tui-pagination>
<ng-template
    let-observer
    [tuiDialogOptions]="{label: 'Loyihangiz e\'lon qilingan raqamni kirgizing!', size: 's'}"
    [(tuiDialog)]="open"
>
    <form
        [formGroup]="planForm"
        (ngSubmit)="observer.complete()"
    >
        <tui-input
            tuiAutoFocus
            formControlName="announcedNumber"
        >
            Raqam
        </tui-input>
        <p>
            <button
                tuiButton
                type="submit"
            >
                Topish
            </button>
        </p>
    </form>
</ng-template>
</tui-root>
<ng-template #FullPlan class="FullPlan">
    <app-template [onlyView]="true" [planOwner]="true" ></app-template>
</ng-template>